
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Thư viện mượn sách</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/logo/logoSach.png">

    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="~/Content/css/meanmenu.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- flexslider.css-->
    <link rel="stylesheet" href="~/Content/css/flexslider.css">
    <!-- chosen.min.css-->
    <link rel="stylesheet" href="~/Content/css/chosen.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!-- header-area-start -->
    <header>
        <!-- header-top-area-start -->
        @Html.Partial("HeaderTop");
        @{Html.RenderAction("HeaderMid"); }
        <div>
            @{ Html.RenderAction("Menu", "Home"); }
        </div>

    </header>
    <div class="slider-area">
        <div class="slider-active owl-carousel">
            @RenderSection("title", required: false);
        </div>
    </div>
    @RenderBody()
    <div class="social-group-area ptb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="section-title-3">
                        <h3>THông tin liên lạc</h3>
                    </div>
                    <div class="twitter-content">
                        <div class="twitter-icon">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="twitter-text">
                            <p>
                                Nếu độc giả có gì thắc mắc vui lòng liên hệ qua mail<br>
                                abcxyz@gmail.com
                            </p>
                            <a href="#">Gmail của chúng tôi</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="section-title-3">
                        <h3>Liên hệ qua</h3>
                    </div>
                    <div class="link-follow">
                        <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                            <li class="hidden-sm"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            <li class="hidden-sm"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- social-group-area-end -->
    <footer>
        @Html.Partial("Footer");
    </footer>
    <!-- Modal -->
    <!-- Modal end -->
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="~/Content/js/vendor/jquery-1.12.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- meanmenu js -->
    <script src="~/Content/js/jquery.meanmenu.js"></script>
    <!-- wow js -->
    <script src="~/Content/js/wow.min.js"></script>
    <!-- jquery.parallax-1.1.3.js -->
    <script src="~/Content/js/jquery.parallax-1.1.3.js"></script>
    <!-- jquery.countdown.min.js -->
    <script src="~/Content/js/jquery.countdown.min.js"></script>
    <!-- jquery.flexslider.js -->
    <script src="js/jquery.flexslider.js"></script>
    <!-- chosen.jquery.min.js -->
    <script src="~/Content/js/chosen.jquery.min.js"></script>
    <!-- jquery.counterup.min.js -->
    <script src="~/Content/js/jquery.counterup.min.js"></script>
    <!-- waypoints.min.js -->
    <script src="~/Content/js/waypoints.min.js"></script>
    <!-- plugins js -->
    <script src="~/Content/js/plugins.js"></script>
    <!-- main js -->
    <script src="~/Content/js/main.js"></script>
    @RenderSection("jsFooter", required: false)
</body>
</html>

