@using QuanLiThuVien.Models.ViewModel
@using QuanLiThuVien.Models.Entities
@*@model PagedList.IPagedList<QuanLiThuVien.Models.Entites.Sach>
@using PagedList.Mvc;*@
@model IEnumerable<Sach>
@{
    ViewBag.Title = "TimkiemtheoTheloai";
    Layout = "~/Views/Shared/_Layout_Sanpham.cshtml";
    var Book = (List<Sach>)ViewBag.AllBooks;
    var theLoais = (List<QuanLiThuVien.Models.Entities.TheLoai>)ViewBag.ListTheLoai;
    var nhaXBs = (List<QuanLiThuVien.Models.Entities.NhaXuatBan>)ViewBag.ListNXB;
    var tacGias = (List<QuanLiThuVien.Models.Entities.TacGia>)ViewBag.ListTacGia;
}
@section title{
}
<!-- breadcrumbs-area-start PagedList.IPagedList<QuanLiThuVien.Models.Entites.Sach-->
<div class="breadcrumbs-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs-menu">
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#" class="active">Cửa hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumbs-area-end -->
<!-- shop-main-area-start -->
<div class="shop-main-area mb-70">
    <div class="container">
        <div class="row">
            @{
                Html.RenderAction("Danhmuc");
            }
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div class="section-title-5 mb-30">
                    <h2>Sách</h2>
                </div>
                <div class="toolbar mb-30">
                    <div class="shop-tab">
                        <div class="tab-3">
                            <ul>
                                <li class="active"><a href="#list" data-toggle="tab"><i class="fa fa-bars"></i>List</a></li>
                            </ul>
                        </div>
                        <div class="list-page">
                        </div>
                    </div>
                    <div class="field-limiter">
                        <div class="control">
                            <span>Show</span>
                            <!-- chosen-start -->
                            <select data-placeholder="Default Sorting" style="width:50px;" class="chosen-select" tabindex="1">
                                <option value="Sorting">1</option>
                                <option value="popularity">2</option>
                                <option value="rating">3</option>
                                <option value="date">4</option>
                            </select>
                            <!-- chosen-end -->
                        </div>
                    </div>
                    <div class="toolbar-sorter">
                        <span>Sort By</span>
                        <select id="sorter" class="sorter-options" data-role="sorter">
                            <option selected="selected" value="position"> Position </option>
                            <option value="name"> Product Name </option>
                            <option value="price"> Price </option>
                        </select>
                        <a href="#"><i class="fa fa-arrow-up"></i></a>
                    </div>
                </div>
                <!-- tab-area-start -->
                <div class="tab-content">
                    <div class="tab-pane active" id="list">
                        @{var i = 0;
                            foreach (var item in Model)
                            {
                                i++;
                                var session = (TaikhoanLoginModel)Session[QuanLiThuVien.Models.Common.CommonConstant.USER_SESSION];

                                if (session == null)
                                {
                                    <div class="single-shop mb-30">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div class="product-wrapper-2">
                                                    <div class="product-img">
                                                        <a href="/Sanpham/Chitietsanpham/@item.SachID">
                                                            <img src="/Content/img/product/@item.ImgLink" alt="book" class="primary" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                <div class="product-wrapper-content">
                                                    <div class="product-details">
                                                        <div class="product-rating">
                                                            <ul>
                                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <h4><a href="/Sanpham/Chitietsanpham/@item.SachID">@item.Tensach</a></h4>
                                                        <p>
                                                            Tên sách: @item.Tensach<br />
                                                            Thể loại: @item.TacGia.Tentacgia<br />
                                                            Tác giả: @item.TheLoai.Tentheloai<br />
                                                            Nhà xuất bản: @item.NhaXuatBan.TenNXB<br />
                                                            Năm xuất bản: @item.Namxuatban.ToString("dd/MM/yyyy")
                                                        </p>
                                                    </div>
                                                    <div class="product-link">
                                                        <div class="product-button">
                                                            <a href="/Taikhoan/Login" title="Add to cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                                        </div>
                                                        <div class="add-to-link">
                                                            <ul>
                                                                <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="single-shop mb-30">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div class="product-wrapper-2">
                                                    <div class="product-img">
                                                        <a href="/Sanpham/Chitietsanpham/@item.SachID">
                                                            <img src="/Content/img/product/@item.ImgLink" alt="book" class="primary" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                <div class="product-wrapper-content">
                                                    <div class="product-details">
                                                        <div class="product-rating">
                                                            <ul>
                                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <h4><a href="/Sanpham/Chitietsanpham/@item.SachID">@item.Tensach</a></h4>
                                                        <p>
                                                            Tên sách: @item.Tensach<br />
                                                            Thể loại: @item.TacGia.Tentacgia<br />
                                                            Tác giả: @item.TheLoai.Tentheloai<br />
                                                            Nhà xuất bản: @item.NhaXuatBan.TenNXB<br />
                                                            Năm xuất bản: @item.Namxuatban.ToString("dd/MM/yyyy")
                                                        </p>
                                                    </div>
                                                    <div class="product-link">
                                                        <div class="product-button">
                                                            <a href="/Cart/AddItem?sachID=@item.SachID&Quantity=1" title="Add to cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                                        </div>
                                                        <div class="add-to-link">
                                                            <ul>
                                                                <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <!-- tab-area-end -->
            </div>
        </div>
    </div>
</div>
<!-- shop-main-area-end -->


