
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}


@using QuanLiThuVien.Models.Entities;
@model IEnumerable<Sach>


<section class="wrapper site-min-height">
    <!-- page start-->
    <section class="panel">
        <header class="panel-heading">
            Bảng sản phẩm
        </header>
        <div class="panel-body">
            <div class="adv-table editable-table ">
                <div class="clearfix">
                    <div class="btn-group">
                        <button onclick="window.location.href='/ADMIN/SanPhamAdmin/Create'" id="" class="btn green">
                            Add New <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            Tools <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">Print</a></li>
                            <li><a href="#">Save as PDF</a></li>
                            <li><a href="#">Export to Excel</a></li>
                        </ul>
                    </div>
                </div>
                <div class="space15"></div>
                <table class="table table-striped table-hover table-bordered" id="editable-sample">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên danh mục</th>
                            <th>Tên sản phẩm</th>
                            <th>Ảnh sản phẩm</th>
                            <th>Giá sản phẩm</th>
                            <th>Trọng lượng</th>
                            <th>Màu sắc</th>
                            <th>Dung lượng ram</th>
                            <th>HĐH</th>
                            <th>VGA</th>
                            <th>CPUs</th>
                            <th>Dung lượng pin</th>
                            <th>Phụ kiện</th>
                            <th>Chế độ bảo hành</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (Sach i in Model)
                            {
                                <tr class="">
                                    <td>@i.SanphamID</td>
                                    <td class="center">@i.DanhMuc.Tendanhmuc</td>
                                    <td>@i.Tensanpham</td>
                                    <td><img class="img-responsive" src="~/Content/images/Products/@i.Imagelink" alt="" /></td>
                                    <td>@i.Giabandau VNĐ</td>
                                    <td>@i.Trongluong</td>
                                    <td>@i.Mausac</td>
                                    <td>@i.Memory</td>
                                    <td>@i.Hedieuhanh</td>
                                    <td>@i.VGA</td>
                                    <td>@i.CPUZ</td>
                                    <td>@i.Battery</td>
                                    <td>@i.Phukiendikem</td>
                                    <td>@i.Chedobaohanh</td>
                                    <td><a href="/ADMIN/SanphamAdmin/Edit/@i.SanphamID">Edit</a></td>
                                    <td><a href="@Url.Action("XoaSP",new { id = i.SanphamID})" onclick="return confirm('Bạn có chắc muốn xóa ?');" class="">Delete</a></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- page end-->
</section>

